/******************************************************
*******************************************************
*     html
*
*******************************************************
*******************************************************/
html {
    background:                         linear-gradient(to bottom, lightblue, lightgoldenrodyellow) no-repeat fixed;
    color:                              navy;
    font-family:                        Arial, Geneva, Helvetica, sans-serif;
    font-size:                          14pt;
    line-height:                        1.5;
    height:                             100%;
}

/*****************************************************
******************************************************
*
*     body
*
*****************************************************
*****************************************************/
body {
    min-width:                          450px;
}

/****************************************************
*****************************************************
*
*     header
*
*****************************************************
****************************************************/
header {
    background:                         rgba(255,200,100, 0.5);
    min-height:                         100px;
    border:                             2px solid brown;
    box-shadow:                         inset 0 0 5px brown;
    border-bottom-left-radius:          15px;
    border-bottom-right-radius:         15px;
    padding:                            10px;
}

dt {
    font-weight:                        bolder;
    text-shadow:                        1px 1px 2px #0ff, 2px 2px 3px #f0f;
}

dd {
    font-style:                         italic;
    padding-left:                       60px;
    text-align:                         justify;
}

/***************************************************
****************************************************
*
*    main
*
****************************************************
****************************************************/
main {
    text-align:                         center;
    width:                              400px;
    height:                             100%;
    float:                              left;
    border:                             solid 1px white;
    border-radius:                      10px;
    padding:                            5px;
    margin:                             5px;
    box-shadow:                         0 0 10px rgba(0,0,0,0.5);
}

fieldset {
    width:                              100%;
    border:                             solid 1px white;
    text-align:                         center;
    padding-bottom:                     5px;
}

legend {
    padding:                            5px;
    margin:                             5px auto;
}

input {
    border-radius:                      15px;
}

input:first-of-type {
    width:                              112px;
    height:                             30px;
    font-size:                          70%;
}

div.box_gum {
    display:                            table;
    width:                              100%;
}

div.case, div.tray {
    display:                            table-row;
    width:                              100%;
    text-align:                         center;
    height:                             95%;
}

div.box, div.control, div.gum_tray, div.coin_return {
    display:                            table-cell;
    width:                              40%;
    border:                             solid 1px white;
}

.balls {
    background-color:                   #fff98f;
    border:                             solid 2px white;
    border-radius:                      5px;
    min-height:                         43px;
    width:                              95%;
    padding:                            3px;
    margin:                             20px auto 3px;
}

.one_ball {
    background:                         radial-gradient(circle at center, #fff, #f00);
    display:                            inline-block;
    width:                              28px;
    height:                             28px;
    border:                             solid 1px red;
    border-radius:                      14px;
}

div.slot {
    width:                              20px;
    height:                             70px;
    border:                             groove 4px white;
    padding:                            5px;
    margin:                             3px auto;
}

.button {
    background-color:                   #EFF0F1;
    color:                              black;
    font-weight:                        bold;
    text-transform:                     uppercase;
    text-shadow:                        1px 1px 3px #0ff, 0 0 8px #fff;
    text-decoration:                    none;
    display:                            block;
    border:                             outset 2px #f7f7f7;
    border-radius:                      20px;
    padding:                            5px;
    margin:                             20px 5px;
}

.button:hover {
    background-color:                  #BBDEE2;
}

span {
    color:                               darkred;
    font-size:                           50%;
    font-style:                          italic;
}

p.name_tray {
    font-weight:                        bolder;
    text-shadow:                        1px 1px 2px #0ff, 2px 2px 3px #f0f;
}

div.back_tray, div.opening_tray {
    width:                              80%;
    min-height:                         73px;
    border:                             ridge 4px grey;
    border-radius:                      15px;
    padding:                            5px;
    margin:                             15px auto;
}

.inform_fill {
    min-height:                         222px;
    background-color:                   rgba(0,255,0,0.5);
    border:                             solid 1px white;
    padding:                            5px;
    margin:                             5px;
    border-radius:                      15px;
    box-shadow:                         0 0 5px #555;
    font-family:                        monospace;
    font-size:                          12px;
    color:                              black;
}
/***************************************************
****************************************************
*
*    aside
*
****************************************************
****************************************************/
aside {
    text-align:                         center;
    width:                              calc(100% - 425px);
    padding:                            5px;
    margin:                             5px 5px 5px 420px;
    border:                             solid 1px white;
    border-radius:                      10px;
    box-shadow:                         0 0 10px rgba(0,0,0,0.5);
}

img {
    width:                              100%;
}
/***************************************************
****************************************************
*
*    footer
*
****************************************************
****************************************************/
footer {
    text-align:                         center;
    background:                         rgba(255,200,100, 0.5);
    border:                             2px solid brown;
    box-shadow:                         inset 0 0 5px brown;
    border-top-left-radius:             15px;
    border-top-right-radius:            15px;
    clear:                              both;
    padding:                            5px;
    margin:                             5px auto;
}

/**************************************************
***************************************************
*
*   media
*
**************************************************
*************************************************/
@media (max-width: 800px) {
    main {
        float:                         none;
        margin:                        5px auto;
    }

    aside {
        width:                         auto;
        margin:                        5px;
    }
}
